.item {
  margin-bottom: 3em;
}
.svg {
  background: url("italy.svg") no-repeat top left;
  padding: 1em;
  border: 1px solid #808080;
}
.triangles {
  background-color: #d3d3d3;
}
.triangles polygon {
  fill: #4682b4;
}
