.hbox
  display flex
  flex-direction row

.vbox
  display flex
  flex-direction column

svg.back-button
  position fixed
  top 0
  left 0
  polygon
    cursor pointer
    &:hover
      fill steelblue
