html
  height 100%

body
  display flex
  flex-direction column
  height 100%

main
  flex 1
  align-items: stretch;

  .nav
    padding 0 2em 0 1em

  .content
    flex 1

    .example-title
      padding 0.2em 0
      margin 0
      border 1px solid gray
      background-color lightgray
      text-align center

    .console
      flex 1
      font-family monospace
      color lightgreen
      background-color black

      p
        padding 0em 1em
        margin-bottom 0.2em

        &.error
          background-color crimson
          color white

        &.highlight
          background-color gold
          color darkslategray
