form
  display table
  border-spacing 1em 0.2em

  .row
    display table-row

    label
      display table-cell
      // vertical-align middle

      &.top
        vertical-align top

    .cell
      display table-cell
