.hbox {
  display: flex;
  flex-direction: row;
}
.vbox {
  display: flex;
  flex-direction: column;
}
svg.back-button {
  position: fixed;
  top: 0;
  left: 0;
}
svg.back-button polygon {
  cursor: pointer;
}
svg.back-button polygon:hover {
  fill: #4682b4;
}
